torch==2.1.0+cu121
torchvision==0.16.0+cu121
torchaudio==2.1.0+cu121
spconv-cu120==2.3.6
numpy==1.24.4
numba==0.57.1
protobuf==3.19.4
scikit-image==0.19.2
scipy==1.10.1
easydict==1.13
pyyaml==6.0.3
fire==0.7.1
tqdm==4.67.3
shapely==2.0.7
matplotlib==3.6.3
opencv-python==4.11.0.86
addict==2.4.0
pyquaternion==0.9.9
open3d==0.19.0
pandas==1.4.4
future==1.0.0
pybind11==3.0.4
tensorboardX==2.6
tensorboard==2.11.2
Cython==3.2.4
prefetch_generator==1.0.3
nuscenes-devkit==1.0.5
waymo-open-dataset-tf-2-5-0==1.4.1
awscli==1.44.87
